/* body */
@font-face {
    font-family: "upheaval";
    src: url(./upheaval.ttf);
}

body {
    font-family: "upheaval", sans-serif;
    background-color: burlywood;
}

/* top heading */
#heading {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

#heading h1 {
    font-size: 48px;
}

#heading img {
    width: 100px;
    height: 100px;
}

/* content container */
#container {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

/* table */
#mapTable {
    display: block;
    border: 1px solid black;
    border-collapse: collapse;
    height: auto;
}

#mapTable td {
    width: 60px;
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    user-select: none;
}

.roomTd {
    background-color: #7b7b7b;
}

.roomEmptyTd {
    background-color: #393831;
}

.roomDraggedTd {
    background-color: #b0ad61;
}

.imgTd {
    width: 100%;
}

/* menu */
.roomTypeRow {
    display: flex;
    height: 75px;
    width: 150px;
}

.roomTypeButton {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: #7b7b7b;
    color: white;
    text-align: center;
    font-size: 24px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 18px;
}

.roomTypeButton>img {
    user-select: none;
    width: 100%;
}